<div th:replace="header"></div>

Login with: <a th:href="@{/oauth2/authorization/google}">Google</a>

<div th:if="${errorMessage}">
    Unable to login. Check your username and password.
</div>
<a th:href="@{/oauth2/authorization/facebook}">Sign in with Facebook</a>
<p>New here? Click
    <a th:href="@{/register}">here</a> to register.</p>
<form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Username: </label>
<!--    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
    <input type="text" name="username" id="username"/><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/><br/>
    <input type="submit" value="Login"/></form>
<div th:replace="footer"></div>
